@model UpdateContactDto

@{
    ViewData["Title"] = "Index";

    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}







<!-- Contact Page Text -->
<div class="card mt-25">


    <!-- Contact Information -->

    <div class="card-header">
        <h3><i class="fas fa-address-book mr-10"></i>İletişim Bilgileri</h3>
    </div>

    <form asp-action="Index" method="post">
        <div class="form-group">
            <label><i class="fas fa-envelope mr-5"></i>Email Adresi</label>
            <input type="text" class="form-control" asp-for="Email">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label><i class="fas fa-phone mr-5"></i>Telefon Numarası</label>
            <input type="tel" class="form-control" asp-for="Phone">
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label><i class="fas fa-map-marker-alt mr-5"></i>Konum</label>
            <input type="text" class="form-control" asp-for="Location">
            <span asp-validation-for="Location" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label><i class="fas fa-phone mr-5"></i>Konum Resmi</label>
            <input type="text" class="form-control" asp-for="LocationPicture">
            <span asp-validation-for="LocationPicture" class="text-danger"></span>
        </div>






        <div class="card-header">
            <h3><i class="fas fa-comment-alt mr-10"></i>Sayfa Metinleri</h3>
        </div>


        <div class="form-row full">
            <div class="form-group">
                <label>Sayfa Başlığı</label>
                <input type="text" class="form-control" asp-for="ContactTitle">
                <span asp-validation-for="ContactTitle" class="text-danger"></span>
            </div>
        </div>

        <div class="form-row full">
            <div class="form-group">
                <label>Açıklama Metni</label>
                <textarea class="form-control textarea-md" asp-for="ContactText"></textarea>
                <span asp-validation-for="ContactText" class="text-danger"></span>
            </div>
        </div>

        <div class="form-row full">
            <div class="form-group">
                <label>Açıklama Metni</label>
                <textarea class="form-control textarea-md" asp-for="SuccessMessageText"></textarea>
                <span asp-validation-for="SuccessMessageText" class="text-danger"></span>
            </div>
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-success">
                <i class="fas fa-save"></i>
                Değişiklikleri Kaydet
            </button>
        </div>
    </form>
</div>


